DATABASE_URL=mysql://root:TXylLDUVhTEIVMIxUiKngUhyVDgfirvP@switchyard.proxy.rlwy.net:39615/railway
CHROMA_PATH=/data/chroma
UPLOADS_DIR=/data/uploads

REDIS_HOST=redis.railway.internal
REDIS_PORT=6379

SECRET_KEY=change-this-to-a-long-random-string
ALGORITHM=HS256

GROQ_API_KEY=gsk_xxxxxxxxxxxxxxxxxxxx

CHROMA_API_KEY=ck-5nc86XZtBe5tqbVeVR6EiXdJP3xDtu132cyFghGPbYm5
CHROMA_TENANT=98032370-f274-4a1e-9b0b-224a5efd28d7
CHROMA_DATABASE=chromaDB_storage